@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url(Rubik.woff2) format('woff2');
}

:root {
	--color: #1c1c1c;

	font-family: 'Rubik', sans-serif;
	font-size: 11px;

	color: var(--color);
}
