@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 300 900;
	font-display: swap;
	src: url(/Rubik.woff2) format('woff2');
}

:root {
	--shadow: #b1b1b1;
	--bg: #fffffb;

	background-color: var(--bg);

	font-family: 'Rubik', sans-serif;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.25;

	color: var(--color);
}

.page {
	--title: #d08770;

	--page: #2e3440;
	--sidebar: #3b4252;

	--color: #eceff4;
	--section: #d8dee9;
	--experience: #d08770;
	--company: #81a1c1;

	color: var(--color);
}

.page .bg-sidebar {
	--color: #eceff4;
	--section: #d8dee9;
	--experience: #d08770;
	--company: #81a1c1;

	color: var(--color);
}
